header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('header.jpg') no-repeat center;
  background-size: cover !important;
	-webkit-background-size: cover !important;
}

.portfolio-modal {
  padding: 25px;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.react-pdf__Page__canvas{
  margin:0 auto;
  max-width:100vw;
  max-height:141vw;
  box-shadow: 3px 4px 24px -4px rgba(117,117,117,1);
}

.resume-link{
  display: flex;
  justify-content: center;
}

ul#nav li.current a {
  color:#F06000;
}

.item-img {
  height: 300px;
  width: 300px;
  justify-content: center;
  object-fit: cover;
}





/* 
.portfolio-modal{
  padding:20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.modal-footer{
  text-align: center;
}
.modal-footer button{
  width:100px;
} */